__pycache__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!?*.[Cc]ache/
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!**/[Pp]ackages/build/
._*
.*crunch*.local.xml
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.build/
.builds
.classpath
.com.apple.timemachine.donotpresent
.cr/personal
.cxx/
.DocumentRevisions-V100
.DS_Store
.DS_Store
.externalNativeBuild/
.fake/
.fseventsd
.gradle/
.idea/
.idea/
.ionide/
.localhistory/
.LSOverride
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.project
.rubygems/
.sass-cache/
.settings
.Spotlight-V100
.swiftpm/
.TemporaryItems
.Trashes
.tye/
.VolumeIcon.icns
.vs/
.vscode/
.vscode/*
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim_*.settings
*.bim.layout
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dmg
*.dotCover
*.DotSettings.user
*.e2e
*.GhostDoc.xml
*.gpState
*.hprof
*.ilk
*.iml
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.snupkg
*.stackdump
*.suo
*.svclog
*.tar.gz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xccheckout
*.xcscmblueprint
*.xsd.cs
**/[Pp]ackages/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
*~
~$*
$RECYCLE.BIN/
$tf/
aclocal.m4
AppPackages/
artifacts/
ASALocalRun/
autom4te.cache/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bin/
bld/
build/
BundleArtifacts/
Carthage/
ClientBin/
cmake-build-debug/
config.make
config.status
coverage*.info
coverage*.json
coverage*.xml
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs_vista.db
ehthumbs.db
FakesAssemblies/
FodyWeavers.xsd
Generated_Code/
Generated\ Files/
gradlew.bat
healthchecksdb
heapdump.*.phd
Icon
install-sh
ipch/
javacore.*.txt
Makefile.in
MigrationBackup/
mono_crash.*
nCrunchTemp_*
Network Trash Folder
node_modules/
nunit-*.xml
OpenCover/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
Pods/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
ScaffoldingReadMe.txt
ServiceFabricBackup/
StyleCopReport.xml
tarballs/
target/
Temporary Items
test-results/
TestResult.xml
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
xcuserdata
