!**/[Pp]ackages/build/
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dmg
*.dotCover
*.e2e
*.gpState
*.hprof
*.ilk
*.iml
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.snupkg
*.stackdump
*.suo
*.svclog
*.tar.gz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xccheckout
*.xcscmblueprint
*.xsd.cs
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.axoCover/*
.build/
.builds
.classpath
.com.apple.timemachine.donotpresent
.cr/personal
.cxx/
.env
.externalNativeBuild/
.fake/
.fseventsd
.gradle/
.idea/
.ionide/
.localhistory/
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.project
.rubygems/
.sass-cache/
.settings
.swiftpm/
.tye/
.vs/
.vscode/
.vscode/*
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
Carthage/
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
Icon
Makefile.in
MigrationBackup/
Network Trash Folder
OpenCover/
Package.StoreAssociation.xml
Pods/
PublishScripts/
ScaffoldingReadMe.txt
ServiceFabricBackup/
StyleCopReport.xml
Temporary Items
TestResult.xml
Thumbs.db
UpgradeLog*.XML
UpgradeLog*.htm
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
aclocal.m4
artifacts/
autom4te.cache/
bin/
bld/
build/
cmake-build-debug/
config.make
config.status
coverage*.info
coverage*.json
coverage*.xml
csx/
dlldata.c
ecf/
ehthumbs.db
ehthumbs_vista.db
gradlew.bat
healthchecksdb
heapdump.*.phd
install-sh
ipch/
javacore.*.txt
mono_crash.*
nCrunchTemp_*
node_modules/
nunit-*.xml
orleans.codegen.cs
paket-files/
project.fragment.lock.json
project.lock.json
publish/
rcf/
tarballs/
target/
test-results/
x64/
x86/
xcuserdata
~$*
